.login input{border-bottom: 1px solid #eee;margin: 0; width: 100%;}
	.login_p{width: 190upx;height: 80upx;position: absolute;bottom: 20upx;right: -20upx;text-align: center;line-height: 80upx;z-index: 99;color: #020202;}
	.login{padding-bottom: 4upx;}
	.button {border-radius: 8upx;background-color: #9a9a9a;width: 80%;margin: 72upx 76upx;}
	.active {background-color: #020202;}
	.login_inpu img {
		padding: 20upx 0upx;
		right: 0upx;
		bottom: 20rpx;
	}

	.loginsss {
    width: 90%;
    margin: 0 auto;
    border: none;
    border-radius: 0;
    font-size: 30upx;
    margin-bottom: 4upx;
	}
.b {
	color:#666666;
}

.buttons {
	width: 90%;
	margin: 72upx 32upx;
}