.coupon_price {
	line-height: 1.33;
	text-align: center;
	color: #FF3333;
	font-size: 54upx;
}

.mycoupon_head,
.mycoupon_tab,
.mycoupon_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mycoupon_head {
	background-color: #fff;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 88upx;
	z-index: 40;
	color: #020202;
	font-size: 40upx;
	padding: 0 30upx;
}

.mycoupon_head img {
	width: 24upx;
	height: 36upx;
}

.coupon_t {
	text-align: center;
}

.coupon_ul {
	padding-bottom: 98upx;
	margin-top: 0upx;
	padding-top: 98upx;
	min-height: 100vh;
}

.coupon_li {
	position: relative;
	height: 160upx;
	margin: 20upx 0;
	box-shadow: 1px 1px 1px 4upx #eee;
	padding: 20upx;
}

.mycoupon_tab {
	border-bottom: 1px solid #eee;
	justify-content: space-around;
	position: relative;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 40;
}

.mycoupon_li {
	padding: 30upx 0;
	position: relative;
	font-size: 28upx;
	color: #999;
}

.mycoupon_border {
	border-bottom: 2px solid #020202;
	position: absolute;
	bottom: -1px;
	left: 24%;
	width: 40upx;
}

.mycoupon_bottom {
	width: 100%;
	height: 98upx;
	background-color: #020202;
	position: fixed;
	bottom: 0;
	left: 0;
	color: #fff;
	font-size: 30upx;
	justify-content: center;
	z-index: 9999;
}

.active {
	color: #020202;
	font-weight: bold;
}

.active_border {
	border-right: 1px solid #f5f5f5 !important;
}

.active_border1 {
	border: 1px solid #f5f5f5 !important;
}

/* .active_backimg{background: url(../../common/img/shixiao2x.png) no-repeat;background-size: 100% 100%;} */
.emtpy_dis {
	text-align: center;
	margin-top: 150upx;
}

.emtpy_dis>p {
	color: #9D9D9D;
	margin-top: 20upx;
}

.complete {
	height: 93.5%;
	width: 100%;
	background-color: rgba(000, 000, 000, 0.5);
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999999;
	display: flex;
	justify-content: center;
}

.complete_qiandao {
	height: auto;
	width: 65%;
	margin: 0 auto;
	padding: 30upx;
	text-align: left;
	font-size: 28upx;
	position: absolute;
	background-color: #fff;
	border-radius: 10upx;
	text-align: center;
}

.complete_qiandao>p {
	margin-top: 10upx;
	text-align: left;
}

.complete_b {
	padding-top: 45%;
}

.complete_img {
	position: absolute;
	top: 20upx;
	right: 20upx;
	width: 40upx;
	height: 40upx;
}

.coupon_left {
	width: 28%;
	text-align: right;
	margin: 0;
	border-right: none;
	padding-right: 30upx;
	z-index: 9;
	height: 126upx;
}

.coupon_right {
	width: 53%;
	text-align: right;
	margin: 0;
	z-index: 9;
	height: 126upx;
}

.coupon_p {
	font-weight: bold;
	padding-bottom: 20upx;
}

.conpon_time {
	margin-top: 30upx;
	font-size: 20upx;
}

.coupon_but {
	width: 140upx;
	position: absolute;
	right: -110upx;
	top: 54upx;
	height: 50upx;
	background: -webkit-linear-gradient(left, #FF7272, #FF4444);
	border-radius: 26upx;
	color: #fff;
	font-size: 28upx;
}

.active_black {
	color: #000000;
}

.active_color {
	color: #bbb !important;
}

.active_none {
	display: none;
}

.coupon_status {
	z-index: 9;
	width: 88upx;
	height: 88upx;
	position: absolute;
	right: 0;
	top: 0;
}

.active::after {
	content: '';
	position: absolute;
	display: block;
	bottom: 0;
	height: 2px;
	width: 120upx;
	left: 50%;
	margin-left: -60upx;
	background: #020202;
}

/* 优化 */

	.coupon {
		border: 1px solid #FFC2C2;
		border-radius: 10upx;
		background: linear-gradient(to top, #FFF8F7 0%, #FFF3F3 100%);
		margin: 30upx 0;
		position: relative;
	}

	/* 已使用样式 */
	.coupon1 {
		border: 1px solid #DDDDDD;
		border-radius: 10upx;
		background: linear-gradient(to top, #F9F9F9 0%, #FBFBFB 100%);
		margin: 30upx 0;
		position: relative;
	}

	.coupon_top {
		display: flex;
		border-bottom: 1px dashed #FFC2C2;
		padding-left: 30upx;
		position: relative;
	}

	.coupon_top_left {
		padding-top: 46upx;
		padding-bottom: 44upx;
		padding-right: 20upx;
		box-sizing: border-box;
		margin-right: auto;
		font-size: 22upx;
		color: #666666;
		width: 456upx;
		flex: 1;
	}

	.coupon_top_left view {
		margin-bottom: 20upx;
		font-size: 28upx;
		color: #020202;
		font-weight: bold;
		display: flex;
		align-items: center;
	}

	.coupon_top_right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		width: 200upx;
		border-left: 1px dashed #FFC2C2;
	}

	.coupon_top_right view {
		font-size: 28upx;
		color: #020202;
		height: 41upx;
		line-height: 41upx;
	}

	.coupon_top_right span {
		font-size: 24upx;
		color: #020202;
		margin-top: 24upx;
	}

	.coupon_bottom {
		display: flex;
		padding: 0 30upx;
		flex-wrap: wrap;
		height: 86upx;
	}

	.coupon_bottom_left {
		margin-top: 30upx;
		font-size: 24upx;
		color: #666666;
	}

	.coupon_bottom_l {
		display: flex;
		align-items: center;
		font-size: 24upx;
		height: 22upx;
	}

	.coupon_bottom_right {
		width: 140upx;
		height: 50upx;
		line-height: 50upx;
		text-align: center;
		background: #FF3333;
		color: #ffffff;
		border-radius: 25upx;
		margin-top: 18upx;
		margin-bottom: 18upx;
		margin-left: auto;
	}

	.coupon_top_icon {
		font-size: 20upx;
		color: #ff3333;
		line-height: 28upx;
		margin-left: 10upx;
		padding: 4upx;
		border-radius: 4upx;
		border: 1px solid #FF3333;
	}

	.vip_img {
		position: absolute;
		top: -1px;
		left: -1px;
		width: 80upx;
		height: 30upx;
	}

	.coupon_bottom_b {
		padding-bottom: 12upx;
		width: 100%;
	}

	.coupon_top:before {
		content: '';
		display: block;
		position: absolute;
		width: 28upx;
		height: 28upx;
		bottom: -16upx;
		left: -16upx;
		background: #FFFFFF;
		border: 1px solid #FFC2C2;
		border-left-color: transparent;
		border-top-color: transparent;
		transform: rotate(-45deg);
		border-radius: 50%;
	}

	.coupon_top:after {
		content: '';
		display: block;
		position: absolute;
		width: 28upx;
		height: 28upx;
		bottom: -16upx;
		right: -16upx;
		background: #FFFFFF;
		border: 1px solid #FFC2C2;
		border-right-color: transparent;
		border-top-color: transparent;
		transform: rotate(45deg);
		border-radius: 50%;
	}

	.coupon_top1:before {
		border-right-color: #B0E1FF;
		border-bottom-color: #B0E1FF;
	}

	.coupon_top1:after {
		border-left-color: #B0E1FF;
		border-bottom-color: #B0E1FF;
	}

	.coupon_top2 {
		border-color: #DDDDDD;
	}

	.coupon_top2:before {
		border-right-color: #DDDDDD;
		border-bottom-color: #DDDDDD;
	}

	.coupon_top2:after {
		border-left-color: #DDDDDD;
		border-bottom-color: #DDDDDD;
	}
	
	.yh-title {
		height: 88upx;
	}
	
	.yh-head {
		width: 100%;
		z-index: 999;
		position: fixed;
		border-top: 1px solid #E6E6E6;
		top:88upx
	}
	
	.yh-product_title {
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-weight: bold;
		max-width: 340upx;
	}
	
	.yh-by {
		font-weight: bold;
		font-size: 54upx;
	}
	
	.yh-discFlag {
		width: 23upx;
		height: 23upx;
		margin-left: 15upx;
	}
	
	.yh-coupon_bottom_right {
		background: #B8B8B8;
		color: #fff;
	}
	
	.yh-Instructions {
		font-size: 22upx;
	}
	
	.yh-yhjsm {
		margin: 30upx 0 20upx 0;
		font-size: 32upx;
		text-align: center;
		font-weight: bold;
	}